[submodule "mdl_1"]
	path = mdl_1
	url = https://gist.github.com/kasperpeulen/fa2c0825619512750c86
[submodule "angular2_1"]
	path = angular2_1
	url = https://gist.github.com/kasperpeulen/96e1da5a9dcc1d25dfcf
[submodule "angular2_2"]
	path = angular2_2
	url = https://gist.github.com/kasperpeulen/eda4ea84e05c3a241b37
[submodule "angular2_ngfor"]
	path = angular2_ngfor
	url = https://gist.github.com/kasperpeulen/1779cb03472912a1359e
[submodule "angular2_twowaybinding"]
	path = angular2_twowaybinding
	url = https://gist.github.com/kasperpeulen/8b288fc737b7069d04eb
[submodule "angular2_component"]
	path = angular2_component
	url = https://gist.github.com/kasperpeulen/5a0e89c90c8a732aa744
[submodule "angular2_if"]
	path = angular2_if
	url = https://gist.github.com/dd353c3d95b2da3dd74b
