[submodule "mdl_1"]
	path = mdl_1
	url = https://gist.github.com/kasperpeulen/fa2c0825619512750c86
[submodule "angular2_1"]
	path = angular2_1
	url = https://gist.github.com/kasperpeulen/96e1da5a9dcc1d25dfcf
[submodule "angular2_2"]
	path = angular2_2
	url = https://gist.github.com/kasperpeulen/eda4ea84e05c3a241b37
[submodule "angular2_ngfor"]
	path = angular2_ngfor
	url = https://gist.github.com/1779cb03472912a1359e.git
